# python cache folder
__future__
__pycache__
__exes__
.idea

# program data file folder
cache

# vs code local code history folder
/.history

# file
*.txt
*.pkl
*.xls
*.ini

# vs code temp python file
app/tempCodeRunnerFile.py


# test function
app/test.py

# xmind file
*.xmind

# old app
app.old
